.container {
    font-family: "NicoMoji-Regular", serif;
    font-size: 3rem;
    display: grid;
    grid-template-columns: 30% 70%;
}

.myPhoto {
    margin-right: 20px;
    width: 500px;
}

.text_container {
    background-color: rgba(102,103,171,0.2);
    border-radius: 14px;
    padding: 3%;
    line-height: 2;
}
